/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #FFF;
}

html,
body {
  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 18px;
  color: #333;
  line-height: 1;
}

p {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Chivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  color: hotpink;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

.game-grid {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 0 0 1rem;
}

.game-grid *,
.game-grid *:focus,
.game-grid *:hover {
  outline: none;
}

.game-grid .game-card {
  display: inline-block;
  width: calc((100% - 1rem*5) / 4);
  height: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  perspective: 1000px;
  cursor: pointer;
}

.game-grid .game-card:hover {
  transform: scale(1.05);
}

.game-grid .game-card:focus .game-card__inner {
  transform: rotateY(180deg);
}

.game-grid .game-card .game-card__inner {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.game-grid .game-card .game-card__inner::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.game-grid .game-card .game-card__front,
.game-grid .game-card .game-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.game-grid .game-card .game-card__front::after,
.game-grid .game-card .game-card__back::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.game-grid .game-card .game-card__front {
  background-color: hotpink;
}

.game-grid .game-card .game-card__back {
  background-color: #f2f2f2;
  color: hotpink;
  transform: rotateY(180deg);
}

