.about {
    position: absolute;
    z-index: 10;
    bottom: 0;
    background-color: $white;
    width: 100%;
    max-width: $max-width;
    height: auto;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba($black, 0.2);

    border-radius: $spacing--half $spacing--half 0 0;

    text-align: center;

    transition: all 500ms ease;

    .about__container {
        padding: $spacing*2 $spacing;
    }

    &.about--active {
        max-height: 100vh;
    }
}