html, body {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;
    height: -fill-available;

    margin: 0;
    padding: 0;
    background-color: #70e1f5;
    background-image: linear-gradient(135deg, #70e1f5, #ffd194)
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 0 0 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    width: 100%;
    max-width: $max-width;
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;
    height: -fill-available;
    max-height: $max-height;

    background-color: $white;

    @media screen and (min-width: $break-tablet+1) {
        border-radius: $spacing;
        border: $spacing/4 solid $white;
        box-shadow: 0 0 $spacing*2 0 rgba(255,255,255,0.3);
    }

    .container__header, .container__footer {
        width: 100%;
        height: 60px;
        flex: 0 1 auto;

        padding: $spacing--half $spacing;

        @media screen and (max-width: $break-mobile) {
            padding: $spacing--half;
        }

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        * {
            flex: 0 0 auto;
        }
    }

    .container__header {
        border-radius: 0 0 $spacing--half $spacing--half;
        background-color: $accent-dark;
    }

    .container__footer {
        padding: $spacing*0.75 $spacing $spacing--half;
        background-color: $accent-dark;
        border-radius: $spacing--half $spacing--half 0 0;
    }

    .container__game {
        width: 100%;
        height: 100%;
        flex: 1 1 auto;

        position: relative;

        border-radius: $spacing $spacing 0 0;
    }
}