.game-grid {
    display: block;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: 0;

    padding: $spacing 0 0 $spacing;

    @media screen and (max-width: $break-mobile) {
        padding: $spacing--half 0 0 $spacing--half;
    }

    *, *:focus, *:hover {
        outline: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        ::selection { background-color: transparent; }
    }

    .game-card {

        display: inline-block;
        vertical-align: middle;

        width: calc((100% - #{$spacing}*4) / 4);
        height: calc((100% - #{$spacing}*4) / 4);
        
        margin-right: $spacing;
        margin-bottom: $spacing;

        @media screen and (max-width: $break-mobile) {
            margin-right: $spacing--half;
            margin-bottom: $spacing--half;
            width: calc((100% - #{$spacing--half}*4) / 4);
            height: calc((100% - #{$spacing--half}*4) / 4);
        }

        perspective: 1000px;

        cursor: pointer;

        &:not(.matched):hover {
            transform: scale(1.05);
        }

        &.active .game-card__inner {
            transform: rotateY(180deg);

            .game-card__back {
            }
        }

        &.matched .game-card__inner {
            transform: rotateY(180deg);
            cursor: default;
        }

        .game-card__inner {
            
            position: relative;
            width: 100%;
            height: 100%;

            border-radius: $spacing--half;

            transition: transform 0.2s;
            transform-style: preserve-3d;
        }

        .game-card__front, .game-card__back {
            
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;

            border-radius: $spacing--half;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            box-shadow: 0 0 20px 0 rgba($black, 0.2);
        }

        .game-card__front {
            background-color: $accent-dark;
            background-image: linear-gradient(135deg, $accent-light, $accent-dark);
        }

        .game-card__back {
            background-color: $white;
            transform: rotateY(180deg);
            font-size: 3rem;
            @media screen and (max-width: $break-mobile) {
                font-size: 2rem;
            }
        }
    }
}