html, body {
    font-family: 'Overpass', $font-stack;
    font-weight: 400;
    font-size: $font-size;
    color: $text;
    line-height: 1;
}

p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;

    margin: 0;
    padding: 0;

    line-height: 1.5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5 , .h5, h6, .h6 {
    font-family: 'Chivo', $font-stack;
    font-weight: 900;
    color: $accent-dark;

    margin: 0;
    padding: 0;

    line-height: inherit;
}